@import '../../global.scss';

.react-multi-carousel-list{
    border: 5px solid red;
    text-align: center;
    // padding: 20px 0 0 0;
    align-items: start;

    .react-multi-carousel-dot-list {
        @include mobile{
            bottom: 30px;
        }
    }

    .react-multi-carousel-dot {
        margin-bottom: 0.5rem;
    }

    .react-multiple-carousel__arrow{
        z-index: 10;
    }
}